@font-face {
    font-family:LemonMilk;
    src: url(../fonts/LEMONMILK-Regular.otf);
}
@font-face {
    font-family: Bebas;
    src: url(../fonts/BebasNeue-Regular.ttf);
}

h1{
    font: bold 50px LemonMilk, sans-serif;
    margin-top: 100px;
}
h3{
    font: Bebas, sans-serif;
}

.foto{
    width: 150px;
    height: 150px;
    margin-left: 150px;
    margin-top: 50px;
}

.ordenpt{
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100%;
}
.perfil{
    height: 50px;
    border-radius: 30;
    width: 80%;
    margin: 0px auto;
   
}
.Formulario{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
}

.Data{
    width: 80%;
    margin: 0px auto;
    padding: 10px;
}

.d input::placeholder{
    text-align: center;
    font-size: 20px;
}

footer address{
text-align: center;
align-items: center;
}

.fab{
    font-size: 37px;
    color: white;
}
.fa-facebook-square{
    background: rgb(9, 0, 94);
    width: 35px;
    border-radius: 5px;

}
.fa-twitter-square{
    background: rgb(0, 161, 248);
    width: 35px;
    border-radius: 5px;
}
.fa-instagram{
    background: linear-gradient(to top right,#FCDE30, #E9712A, #D2313B, #AE4198, #7540A1, #5443A8);
    width: 35px;
    border-radius: 5px;
}