h1{
    font: bold 50px LemonMilk, sans-serif;
    margin-top: 100px;
}

h3{
    font: Bebas, sans-serif;
}

.foto{
    width: 150px;
    height: 150px;
    margin-left: 150px;
    margin-top: 50px;
}

.ordenpt{
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100%;
}

.Formulario{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
}

.Data{
    width: 80%;
    margin: 0px auto;
    padding: 10px;
}